
                        .gallery-thumbnails {
                            background-color: #FFF;
                            box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.07);
                            border: 1px solid #EEE;
                            border-radius: 5px !important;
                            background-position: left center;
                            background-repeat: no-repeat;
                        }

                        .service_diy {
                            background-image: url(http://www.kingspac.com.hk/images/service/2.jpg) !important;
                            background-size: cover !important;
                        }

                        .service {
                            width: 100%;
                            background-size: cover;
                            padding: 10px;
                            border-radius: 4px;
                        }

                        .service h3 {
                            padding: 10px;
                            color: #FFF;
                        }

                        .card.small {
                            height: 300px;
                            background-color: #FFF;
                            border-radius: 50px 2px 2px 2px;
                        }

                        .card.small, .card.medium, .card.large {
                            position: relative;
                        }

                        .card {
                            position: relative;
                            margin: .5rem 0 1rem 0;
                            background-color: #fff;
                            -webkit-transition: -webkit-box-shadow .25s;
                            transition: -webkit-box-shadow .25s;
                            transition: box-shadow .25s;
                            transition: box-shadow .25s, -webkit-box-shadow .25s;
                            border-radius: 8px;
                        }

                        .hoverable {
                            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
                            -webkit-transition: -webkit-box-shadow .25s;
                            transition: -webkit-box-shadow .25s;
                            transition: box-shadow .25s;
                            transition: box-shadow .25s, -webkit-box-shadow .25s;
                        }

                        .hoverable:hover {
                            -webkit-box-shadow:0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
                            box-shadow:0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
                        }


                        .hoverable:hover .card-image {
                            max-height: 40% !important;
                            transition: max-height .25s;
                        }

                        .card.small .card-image, .card.medium .card-image, .card.large .card-image {
                            max-height: 60%;
                            transition: max-height .25s;
                            height: 450px;
                            overflow: hidden;
                            border-radius: 50px 0px;
                        }

                        .card .card-image {
                            position: relative;
                        }

                        .card .card-image img {
                            display: block;
                            border-radius: 2px 2px 0 0;
                            position: relative;
                            left: 0;
                            right: 0;
                            top: 0;
                            bottom: 0;
                            width: 100%;
                        }

                        .card .card-image .card-title {
                            color: #fff;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 70%, rgba(0, 0, 0, 0) 100%);
                            width: 100%;
                            padding: 24px;
                        }

                        .card .card-title {
                            font-size: 24px;
                            font-weight: 300;
                        }

                        .card.small .card-image + .card-content, .card.medium .card-image + .card-content, .card.large .card-image + .card-content {
                            max-height: 40%;
                        }

                        .card.small .card-content, .card.medium .card-content, .card.large .card-content {
                            max-height: 100%;
                            overflow: hidden;
                        }

                        .card .card-content {
                            padding: 24px;
                            border-radius: 0 0 2px 2px;
                        }

                        .card .card-action:last-child {
                            border-radius: 0 0 2px 2px;
                        }

                        .card.small .card-action, .card.medium .card-action, .card.large .card-action {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            right: 0;
                        }

                        .card .card-action {
                            position: relative;
                            background-color: inherit;
                            border-top: 1px solid rgba(160, 160, 160, 0.2);
                            padding: 16px 24px;
                        }

                        .card :after {
                            background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 70%, rgba(0, 0, 0, 0) 100%);
                        }